body{
  background: #add8e6;
}
/* ProfilePage.css */
.header {
  background: linear-gradient(#69C6FB,#0390DF);;
  color: #fff;
  padding: 20px;
  text-align: left;
}
.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f0f2f5;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-container h2 {
  text-align: center;
  color: #3b5998;
  margin-bottom: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
}

.profile-container form > div {
  margin-bottom: 20px;
}

.profile-container label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.profile-container input[type="text"],
.profile-container input[type="email"],
.profile-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.profile-container textarea {
  resize: vertical;
  min-height: 100px;
}

.profile-container button[type="submit"],
.profile-container button {
  padding: 10px 20px;
  background-color: #3b5998;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.profile-container button[type="submit"]:hover,
.profile-container button:hover {
  background-color: #2c3e50;
}
